* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-shadow: white 0.1vw 0.1vw 1px, white -0.1vw -0.1vw 1px, white 0.1vw -0.1vw 1px, white -0.1vw 0.1vw 1px;
}

body {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  background-size: cover;
  color: #000000;
  transition: background-image 1s ease-in-out;
  padding: 0 10px;
}

.time {
  font-size: 3rem;
}

.name,
.focus,
.city {
  caret-color: transparent;
}

.next-background,
.next-quote {
  padding: 4px;
  border: none;
  background-color: rgb(247 254 255 / 35%);
  border-radius: 3px;
  cursor: pointer;
  text-shadow: none;
  font-family: 'Quicksand', sans-serif;
}

.quote,
.weather {
  background-color: rgb(247 254 255 / 35%);
  border-radius: 3px;
  padding: 10px;
}

.quote {
  width: 50%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.humidity,
.wind-speed {
  text-shadow: none;
}

.temp {
  position: absolute;
  top: 32px;
  left: -32px;
}

.wrapper-weather-quote {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.weather {
  position: relative;
  margin: 10px;
}

blockquote,
figcaption {
  text-shadow: none;
}

.quote figcaption {
  text-align: right;
  padding: 8px;
}

.weather .temp {
  font-size: 3rem;
}

.weather .icon {
  background-size: cover;
  width: 100px;
  height: 100px;
}

h1 {
  margin-bottom: 1.5rem;
}

h2 {
  margin-bottom: 0.5rem;
  opacity: 0.8;
}

@media (max-width: 700px) {
  .time {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  .time {
    font-size: 1.3rem;
  }

  h1 {
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 1.1rem;
    opacity: 1;
  }

  blockquote,
  figcaption {
    font-size: 0.7rem;
  }
}
